<footer>
  <div class="social-media">
    <a href="https://www.facebook.com/example">
      <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg><span>lii</span>
    </a>
    <a href="https://www.twitter.com/example"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/example"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/example"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <p>&copy; 2023 C. Parida. All rights reserved.</p>
</footer>
